.box404{
  height: 100vh;
  background: url('../../assets/img/404.png');
  background-position: center;
  background-size: cover;

}
.box404 h3{
  font-size: 100px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.box404 p{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;

}
.box404 h3, .box404 p{
  color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}