.form-group span {
  font-family: unset;
  color: #bf1650;
  padding-top: .25rem;
  margin: 0;
}
.btn.btn-outline-pink-login{
  border: 1px solid rgb(253, 153, 169);
  color: rgb(253, 153, 169);
  background-color: transparent;

}
.btn.btn-outline-pink-login:hover{
  border: 1px solid rgb(253, 153, 169);
  color: white;
  background-color: rgb(253, 153, 169);
}